<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Добавление продукта</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
   <p>Тип продукта<p>
   <input type="text" name="product_type" id="product_type">
   <p>Имя<p>
   <input type="text" name="product_name" id="product_name">
   <p>Описание<p>
   <input type="text" name="description" id="description">
   <p>Производитель<p>
   <input type="text" name="industry" id="industry">
   <p>Цена<p>
   <input type="text" name="price" id="price">
   <p>Фото<p>
   <input type="file" name="file">
   <input type="submit" value="Create user">
</form>
<button type="button" class="btn btn-success" onclick= " location.href='/' ">На главную страницу</button>
</body>
</html>
