<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <meta charset="UTF-8">
   <title>Base</title>
</head>
<body background= "{{ url_for('static', filename= 'процессор.jpg' ) }}">
<h1 style="color:aliceblue">Магазин электроники "PnP"</h1>
<button type="button" class="btn btn-success" onclick= " location.href='register' ">Регистрация </button>
<button type="button" class="btn btn-success" onclick= " location.href='login' ">Авторизация </button>
<button type="button" class="btn btn-success" onclick= " location.href='cards' ">Перейти к товарам </button>
</body>
</html>